.table-widget {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas: 'toolbar' 'table';

    gap: 16px;

    width: 100%;
    height: 100%;
}

.toolbar {
    grid-area: toolbar;
    border-radius: var(--radius-m);
    display: flex;
    align-items: center;
}

/* Defined by the spreadsheet, contains the table widget */
.spreadsheet {
    grid-area: table;

    display: grid;

    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

/* Wrapper **within** the table component */
.table-container {
    grid-area: table;

    border-collapse: collapse;
    box-sizing: border-box;

    display: grid;

    position: relative;

    overflow: auto;
}

.table-header {
    grid-row: 1;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    /*position: sticky;*/
    /*top: 0;*/
}

.table-body {
    grid-column: 1 / -1;
    grid-row: 2 / -1;

    display: grid;

    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.table-container > * {
    box-sizing: border-box;
}

.table-header-cell {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

    font-weight: var(--table-header-weight);

    /*border-top: var(--table-border-width) solid var(--table-border-color);*/
}

.input-modal {
    display: grid;

    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);

    gap: var(--size-4-2);

    grid-template-areas:
        'input   input'
        'buttons buttons';
}

.input-modal > input[type="text"] {
    grid-area: input;
}

.input-modal > .buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row-reverse;
}