@import url("./layout.css");
@import url("./listbox.css");
@import url("./settings.css");

.toolbar {
    /*border: var(--input-border-width) solid var(--background-modifier-border);*/
    padding: var(--size-2-2);
    overflow: hidden;
}

.toolbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-4-2);
    border-radius: var(--radius-m);
    border: var(--input-border-width) solid var(--background-modifier-border);
    box-sizing: content-box;
    /*height: auto;*/
}

.selection-indicator {
    width: 64px;
    max-width: 64px;
    height: var(--input-height);
    border-radius: var(--input-radius);


    font-size: var(--font-smallest);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*textarea {*/
/*    padding-inline-start: var(--size-4-6);*/
/*    padding: var(--size-4-1) var(--size-4-2);*/

/*    resize: none;*/
/*    width: 100%;*/
/*    height: 100%;*/

/*    background: var(--code-background);*/
/*    white-space: var(--code-white-space);*/
/*}*/


.table-header-cell, .table-cell {
    font-size: var(--font-smallest);

    border-bottom: var(--table-border-width) solid var(--table-border-color);
    border-right: var(--table-border-width) solid var(--table-border-color);
}

.table-cell-inner {
    z-index: 3;
    flex: 1;

    font-size: var(--font-small);
}

.table-cell {
    overflow: hidden;
    white-space: nowrap;

    cursor: crosshair;

    display: flex;

    align-items: stretch;
    justify-content: stretch;
}

.table-cell-inner span {
    display: block;
    padding-inline-start: var(--size-4-6);
    padding: var(--size-4-1) var(--size-4-2);
    font-size: inherit;
}

.table-cell-inner > :is(textarea, input, button, select) {
    border-radius: 0;
    margin: 0;
    border: none !important;
    font-size: inherit !important;
    font-family: var(--font-monospace-theme), monospace;
}

.column-title {
    flex: 1;
    display: flex;
    max-width: calc(100% - 4px);
    /*width: 100%;*/
}

.column-title:has(.column-title-rename) {
    background: var(--code-background);
}

input[type="text"].column-title-rename {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-weight: var(--table-header-weight);
    font-size: inherit;
    height: fit-content;
    width: 100%;
}

.row-title {
    flex: 1;
    display: flex;

    font-weight: var(--table-header-weight);

    max-height: calc(100% - 4px);
}

.column-title, .row-title {
    padding: var(--size-2-1) var(--size-4-2);
}

.top-left-corner {
    grid-row: 1;
    grid-column: 1;

    border-bottom: var(--table-border-width) solid var(--table-border-color);
    border-right: var(--table-border-width) solid var(--table-border-color);
}

.row {
    font-size: var(--font-smallest);
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;

    border-bottom: var(--table-border-width) solid var(--table-border-color);
    border-right: var(--table-border-width) solid var(--table-border-color);
}

.table-widget, tbody {
    position: relative;
}

.resize-handle {
    display: block;
    width: 4px;
    min-width: 4px;
    cursor: col-resize;
    background-color: transparent;
    transition: background-color 200ms ease-in-out;
}

.table-cell .dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.dropdown .fill {
    flex: 1;
    padding: var(--size-4-2);
    display: block;
}

.table-cell .raw {
    font: var(--font-small) monospace;
    padding: 0 var(--size-4-2);
}

.resize-handle.horizontal {
    height: 4px;
    min-height: 4px;
    min-width: 100%;
    cursor: row-resize;
}

.resize-handle:hover {
    background: var(--divider-color-hover);
}

.selection-range {
    /* border: var(--indentation-guide-width) solid var(--indentation-guide-color-active); */
    /*position: absolute;*/
    background: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 25%);
    outline: var(--table-border-width) solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    border-radius: var(--radius-s);
    pointer-events: none;

    --expand: 6px;

    padding: 1px 0 0 1px;
    box-sizing: content-box;
    margin: -1px 0 0 -1px;
    z-index: 2;
}

.selection-range.column-vector {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.selection-range.row-vector {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.selection-range.in-progress {
    border-color: var(--text-accent);
}

.add-btn {
    display: flex;
    justify-content: center;
}
