.table-widget {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas: 'formula' 'table';

    gap: 16px;

    width: 100%;
    height: 100%;
}

.formula-bar {
    grid-area: formula;
    display: flex;

    align-items: center;

    gap: 16px;
}

.selection-indicator {
    width: 64px;
    max-width: 64px;
    height: var(--input-height);
    border-radius: var(--input-radius);


    font-size: var(--font-smallest);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

textarea.formula {
    flex: 1;

    min-height: var(--input-height);
    height: var(--input-height);

    background: var(--code-background);
    white-space: var(--code-white-space);
    font: var(--font-small) monospace;
    /*font: var(--font-monospace-theme);*/

    resize: vertical;
    width: 100%;
}

textarea.formula:disabled {
    background: transparent;
    pointer-events: none;
}

table {
    grid-area: table;

    background: var(--table-background);
    border-collapse: collapse;
    box-sizing: border-box;
}

thead {
    font-weight: bold;
    text-align: center;
}

td {
    line-height: var(--table-line-height);
    font-size: var(--table-text-size);
    color: var(--text-muted);

    white-space: var(--table-white-space);

    padding: 4px 8px;

    border: var(--table-border-width) solid var(--table-border-color);

    box-sizing: border-box;
}

td.editing {
    /*border: 4px solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));*/
    background: var(--code-background);
    color: var(--table-text-color);
}

.table-widget, tbody {
    position: relative;
}

.selection-range {
    border: var(--table-border-width) solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    position: absolute;
    pointer-events: none;
}