.table-widget, tbody {
    position: relative;
    font-family: var(--font-text);
    line-height: var(--line-height-normal);

    overflow: visible;
}

/* Border */
.table-container {
    border-top: var(--table-border-width) solid var(--table-border-color);
    border-left: var(--table-border-width) solid var(--table-border-color);

    overflow: visible;
}

.table-cell, .table-header-cell, .row, .top-left-corner {
    border-bottom: var(--table-border-width) solid var(--table-border-color);
    border-right: var(--table-border-width) solid var(--table-border-color);
}

.table-header-cell {
    background: var(--code-background);
}

.table-header-cell .resize-handle {
    display: block;
    cursor: col-resize;
    width: var(--divider-width-hover);
}

.table-header-cell .resize-handle:hover {
    background-color: var(--divider-color-hover);
    border-color: var(--divider-color-hover);
}